p {
    margin-bottom: 0.5rem;
}

article {
    max-width: 840px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    padding-bottom: 0.5rem;
    color: #022c00;
}

h1 {
    color: #418ee1 !important;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
}

[data-highlighted-line] {
    background-color: rgba(255, 230, 0, 0.287);
}

code {
    counter-reset: line;
}

code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    opacity: 0.4;
    padding-right: 16px;
    display: inline-block;
}

code {
    padding: 1rem;
}

pre {
    overflow-x: auto;
    padding: 1rem 0;
    border-radius: 20px;
}

@media (max-width: 425px) {
    p {
        font-size: 1rem;
    }
}
